<% @build.comments.each do |comment| %>
  <li class="list-group-item"><%= comment.body %><br>
    <small>Submitted <%= comment.created_at %> by 
    <%= link_to comment.user.username.capitalize, user_path(comment.user) %></small>
  </li>
<% end %>