<div class="jumbotron text-center">
  <h1 class="display-4">Start your first build</h1>
  <p class="lead">Tip: Fill out your builds description, What do you use the machine for? What worked well? Any problems?</p>
  <hr class="my-4">
  <p>Get Started here</p>
  <%= link_to "New Build", new_user_build_path, class: "btn btn-primary btn-lg" %>
</div>