  <strong>Sort by</strong><br>
    <%= link_to "Newest", builds_path(search: "newest") %> |
    <%= link_to "Oldest", builds_path(search: "oldest") %> |
    <%= link_to "Most Liked", builds_path(search: "most_liked") %>
  </div>