<div class="container">
<nav class="navbar justify-content-end">
    <h3 class="text-xs-center m-y-3 text-white">Completed Builds</h3>    
</nav>

<%= render 'sort_by' %>

<%= render :partial => 'build_index_card', :collection => @builds, :as => 'build' %>

</div>