<div class="container">

  <% if !current_user.has_parts? %>
    <%= render 'parts_lists/jumbotron'%>

  <% elsif !current_user.has_builds? %>
    <%= render 'builds_jumbotron' %>

  <% else %>
    <%= render 'builds_deck' %>
  <% end %>

</div>