<div class="container">

  <% if !user_has_parts %>
    <%= render 'parts_lists/jumbotron'%>

  <% elsif !user_has_builds %>
    <%= render 'builds_jumbotron' %>

  <% elsif %>
    <%= render 'builds_deck' %>
  <% end %>

</div>