<nav class="navbar justify-content-end">
    <h3 class="text-xs-center m-y-3 text-white"><%= @user.username.capitalize %> Parts List's</h3>    
    <%= link_to "Add New", new_user_parts_list_path(current_user), class: 'btn btn-success ml-auto mr-2 font-weight-bold' %>
    <%= link_to "Start A New Build", new_user_build_path(current_user), class: 'btn btn-info mr-2 font-weight-bold' %>
  <div class="js-sort">
    <button class="btn btn-primary js-sort" data-sort="cpu">Sort By CPU</button>
  </div>
</nav>

<div class="parts-lists-group" data-id="<%= @user.id %>">
  <ul class="list-group text-center parts-lists" id="parts-lists">
  </ul>
</div>

