<div class="container">

  <% if !user_has_parts %>

    <div class="jumbotron text-center">
      <h1 class="display-4">Oops! No lists found...</h1>
      <p class="lead">In order to add your PC builds, you must have parts lists.</p>
      <hr class="my-4">
      <p>Add your first list here</p>
      <%= link_to "Get Started", new_user_parts_list_path, class: "btn btn-primary btn-lg" %>
    </div>

  <% else %>
  <h1>you have parts</h1>
  <% end %>

</div>