<div class="container">

  <% if current_user.has_no_parts? %>
    <nav class="navbar justify-content-end">
      <h3 class="text-xs-center m-y-3 text-muted"><%= @user.username.capitalize %> Parts Lists</h3>
    </nav>   
    <%= render 'jumbotron' %>
  <% else %>
    <%= render 'parts_list_deck' %>
  <% end %>

</div>